@model IEnumerable<Implementacija.Models.Obavijest>

@{
    ViewData["Title"] = "Notifications";

}

<style>
      img{
           height:4em;
           margin-bottom:2%;
           margin-left:6%;
           margin-right:1%;
          
      }

      p{
          padding-top: 30px
         }
</style>



 
<div class="text-center">
       <img src="~/lib/images/notifications.png" ><font size="+4">Obavještenja</font> 
      
    </div>

<p>
    <a asp-action="Create" style="color:red">Notifikacije</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
