@model IEnumerable<Implementacija.Models.Komentar>
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel="stylesheet" href="/css/detail.css">
    <title>CinePhil</title>
   

</head>
 <style>
      
       
        img{
            border: 5px solid #202020;
            margin-top:5px;
            border-radius: 25px;
            float: left;
            margin-right:30px;

        }
        h8{
            color:red;

        }
        p{
            color:dimgray;
           

        }
      
       
        
    </style>
@* @model IEnumerable<Result> *@


    <div style="height:800px">
    <div class="wrapper container-fluid">
        @* filter toggle *@
        <div class="main"> 
            <div class="poster">
                <img alt="" src="https://image.tmdb.org/t/p/w500/@ViewBag.poster_path" style="height:30em">
            </div>
            </div>
            <div class="content">
                <h1>@ViewBag.title</h1>
                <h5>@ViewBag.release_date <i class="fa fa-circle" style="font-size:5px"></i> 
                   
                @foreach(var g in ViewBag.ThisMovie.genres)
                {
                    @g.name <i class="fa fa-circle" style="font-size:5px"></i>
                }
        
                @* @ViewBag.genre  *@
                @ViewBag.runtimeHour h @ViewBag.runtimeMinute m</h5>
                <div style="float:left;height:fit-content" class="iconGroup">
                    @* <h4 class="rating">@ViewBag.vote_average</h4> *@
                    @if(@ViewBag.vote_average > 7)
                    {
                    <span class="rating card-text" style="border:3px double forestGreen;">@ViewBag.vote_average </span>
                    }
                    else if(@ViewBag.vote_average > 5)
                    {
                    <span class="rating card-text" style="border:3px double rgb(216, 203, 54);">@ViewBag.vote_average </span>
                    }
                    else
                    {
                    <span class="rating card-text" style="border:3px double darkOrange;">@ViewBag.vote_average </span>
                    }
                
            </div>
            </br>
             <div style="width:50%;float:left;margin-top:15px">
                  <div style="width:fit-content;height:fit-content;float:left;margin-right:20px">
                    <a href="/like/@ViewBag.id/@ViewBag.title" style="text-decoration:none;float:left">                     
                        <i class="icon fa fa-heart"></i>
                        <div class="hide">Like</div>
                    </a>
                    </div>
                    <div>
                    <a href="/save/@ViewBag.id/@ViewBag.title" style="text-decoration:none">
                        <i class="icon fa fa-list"></i>
                        <div class="hide">Save</div>
                        </a>
                         </div>
             </div>
                <div style="margin-top:80px">
                <h4>Overview</h4>
                <p>@ViewBag.overview</p>
                </div>

                <script>
                function openForm() {
                document.getElementById("myForm").style.display = "block";
                }
                function closeForm() {
                document.getElementById("myForm").style.display = "none";
                }
                </script>

            
        </div>

         <b><a>Cast:  </a></b>
         <h8> @ViewBag.Filmic.cast[0].name<a>,</a>  @ViewBag.Filmic.cast[1].name<a>,</a>  @ViewBag.Filmic.cast[2].name
         </h8> 
         
          </div>

          <br />
        <div class="card">
        <div class="row">
        <div class="col-2"> <img src="~/lib/images/user-comment.png" width="70" class="rounded-circle mt-2"> </div>
        <div class="col-10">
        <div class="comment-box ml-2">
        <h4>Leave a comment</h4>
        <div class="comment-area"> 
            <!--Unos teksta komentara-->
                        @using (Html.BeginForm("CreateComment", "Film", FormMethod.Post))
                        {
                         <input type="text" name="tekst"/>
                         <input type="submit" value="Submit"/>
                        }
        <!--    <textarea class="form-control" placeholder="what is your view?" rows="4"></textarea> </div>-->
        <div class="comment-btns mt-2">
        <div class="row">
        <div class="col-6">
        <div class="pull-left" > <button class="btn btn-danger btn-sm">Cancel</button> </div>
        </div>
        <div class="col-6">
        <div class="pull-right"> 
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

    </div>
    </div>
</div>
</html>

<div style="margin-top:40px;width:100%" class="CommentSection">
    @foreach (var item in Model)
   {
       <!--Comment-->
     <div style="width:100%;height:fit-content;margin-bottom:20px" class="card">

         <div style="width:fit-content">
         <img style="height:2em;width:2em;margin-left:25px;margin:top:30px" src="~/lib/images/user.png"/>
         </div>
         <div style="height:fit-content;width:fit-content;margin-top:5px;margin-left:5px;float:left">@item.Autor</div>
         <div style="width:80%;margin-left:100px;height:fit-content">@item.Tekst</div>
     </div>   
   }
</div>





